@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Tajawal&display=swap');
*{
    font-family: 'Oswald', sans-serif;
    font-family: 'Tajawal', sans-serif;
}

body{
    background-color: #0084ffa4;
}

.box{
    background-color: aliceblue;
    width: 224px;
    height: 50vh;
    margin: 19% auto;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 100%;
    border-radius: 60px;
    padding: 20%;
    
}

.mynameEn{
    font-size: 19px;
    text-align: center;
   margin-left: 6px;
   margin-top: 20%;
    width: 100%;
    

}
.mynamear{
    font-size: 19px;
    text-align: center;
   margin-left: 6px;
   margin-top: -6%;
    width: 100%;
  
}
.logo{
   border: 8px  #0084ffa4 solid;
   border-radius: 60px;
    height: 11%;
    justify-content: center;
    margin: -19% auto;
    position:absolute;
    box-shadow: 0px 0px 4px 2px rgba(204,204,204,1);
}

hr{
    border: 2px solid #0084ffa4;
    box-shadow: 0px 0px 4px 2px rgba(204,204,204,1);
    transform: rotate(-90deg);
    height: 90%;
    margin: auto;
    margin-top: -3500%;
    margin-left: 2750%;
    border-radius: 20px;
}

.info{
justify-content: center;
margin: auto;
margin-left: -64%;
margin-top: 35%;

}
.stady{

    box-shadow: 0px 0px 4px 2px rgba(204,204,204,1);
}
.TVTCl{
    color: green;
 
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.age{
    margin: auto;
    margin-top: 59%;
    margin-right: -100%;
}

.age-text{
    margin: auto;
    margin-top: 61%;
    margin-right: -100%;
}

.tvtc{
    margin: auto;
    margin-top: 75%;
    margin-right: -100%;
}
.tvtc-text{
    margin: auto;
    margin-top: 75%;
    margin-right: -100%;
}