@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
*{
    
}
.Logo{
    height: 100px;
    width: 100px;
   
    display: grid;
    text-align: center;
    font-family: Cairo;
    font-size: 100%;
    padding: 100;
    align-items: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
